<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnboardingOffboarding.Properties.Settings.OnboardingOffboardingConnectionString" connectionString="Data Source=its44.rutgers.edu;Initial Catalog=OnboardingOffboarding;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>